<!DOCTYPE html>
<html>
  <head>
    <title>Egonet graph</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <header id="indexHeader">
      <h2>Inter dependency graph</h2>
      <select id="selectEgonet" name="egonet">
        <% @egonets.each do |egonet| %>
          <option value="<%= egonet %>"><%= egonet %></option>
        <% end %>
      </select>
    </header>
    <div id="infoBox">
      <div id="rootInfo">
        <p><strong>root node info</strong></p>
        <ul id="rootInfos" class="hidden"></ul>
      </div>
      <div id="nodeInfo">
        <p><strong>node info</strong></p>
        <ul id="nodeInfos" class="hidden"></ul>
      </div>
    </div>
    <div id="graph"></div>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/inter_dependency.js"></script>
    <script src="coffee/g.js"></script>
  </body>
</html>
