.node {
  font: 10px sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.6;
  fill: none;
}

.active {
  stroke: red;
  stroke-opacity: 1.8;
}

#nodeInfo {
  float: right;
  width: 160px;
  height: 350px;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#nodeInfo p{
  margin: 0px;
  padding: 0px;
}

#tooltip {
  margin: 0px;
  padding: 0px;
}

#tooltip li {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 20px;
  list-style-type: none;
}
